{% extends 'baseProf.html.twig' %}

{% block title %}Votre annonce!{% endblock %}

{% block body %}
<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <!-- ##### Catagory Area Start ##### -->
    <div class="clever-catagory blog-details bg-img d-flex align-items-center justify-content-center p-3 height-400" style="background-image: url(../img/pdp_annonce/{{pdp}});">
        <div class="blog-details-headline">
          <center>  <img src="{{asset('img/pdp_annonce/' ~ pdp)}}" alt="" style="height:80px; width:80px; border-radius: 100%;" /></center>
            <h3>{{titre}}</h3>
            <div class="meta d-flex align-items-center justify-content-center">
                <a href="#">{{cours}}</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <!-- <a href="#">Art &amp; Design</a> -->
            </div>
        </div>
    </div>
    <!-- ##### Catagory Area End ##### -->

    <!-- ##### Blog Details Content ##### -->
   
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Blog Details Text -->
                    
                    <div class="blog-details-text">
                        {% for info in allData %}
                        <h3>{{info.titre}}</h3>
                        
                        <h5 class="text-center py-4">Mon parcours</h5>
                        <p>{{info.parcours}}</p>

                        <h5 class="text-center py-4">Ma methodologie</h5>
                        <p>{{info.methodologie}}</p>
                        <!-- Tags -->
                        <div class="post-tags">
                            <ul>
                                <li><a href="#" class="active">booster l'annonce <span class="fa fa-euro"></span> </a></li>
                                <li><a href="{{path('update',{'id_anonce':info.id})}}">modifier l'annonce <span class="fa fa-pencil"></span> </a></li>
                                <li><a href="{{path('certifier_anonce',{'id':info.id})}}">certifier cette annonce <span class="fa fa-check"></span> </a></li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                    <br />
                    <br />
                    <div class="blog-details-text" style="background: rgb(48, 173, 223); color:white;">
                       Votre annonce est enregistrer et sera diponnible apres l'approbation des administrateurs
                    </div>
                    <br>
                     <center>
                         <a href="{{path('dashboad')}}" class="btn btn-primary">Acceuil <span class="fa fa-home"></span></a>
                     </center>
                </div>
            </div>
        </div>
        
        <!---
        <div class="related-posts section-padding-100-0">
            <div class="container-fluid">
                <h3>vos annonces précedent</h3>
                <div class="row">
        
                    {% for annonce in autreAnonce %}
                    
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-area mb-100">
                            <img src="{{asset('img/pdp_annonce/' ~ annonce.photoProfil)}}" style="height:300px;" alt="">
                        
                            <div class="blog-content">
                                <a href="#" class="blog-headline">
                                    <h4 id="mat{{annonce.id}}"></h4>
                                </a>
                                <div class="meta d-flex align-items-center">
                                    <a href="#"> <div id="spe{{annonce.id}}"> Sarah Parker</div></a>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    <a href="#">Art &amp; Design</a>
                                </div>
                                <p>{{annonce.titre}}</p>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(function(){
                            var cours = '{{annonce.matiere}}';
                            option = cours.split('-');
                            $('#mat{{annonce.id}} #mat').text(option[0]);
                             var t = []
                             fil = option[1].split(',');
                              for( j=0; j<fil.length;j++){
                                  
                                  $('#spe{{annonce.id}}').html(option[j]);
                              }
                          
                        });
                    </script>
                    {% endfor %}

        
                    
                </div>
            </div>
        </div> -->
    
    </div>
    
    <!-- ##### Blog Details Content ##### -->

{% endblock %}
