{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section style="background-image:url(../img/library.jpg);padding-top:5%;" class="hero-area bg-img bg-overlay-2by5">
    <!--<h2 class="text-center text-warning">Connectez vous</h2>-->
<div class="col-md-8 container"  id="form" style="margin:auto;margin-block-end:10%;background-color:#444444b3;">
    
<form method="post" style="margin:auto;padding:10%;">
    
    
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           <span style="color:white;"> You are logged in as</span> <b class="text-warning">{{ app.user.username }}</b> <a href="{{ path('app_logout') }}" style="color:blue;" class="pull-right">Logout</a>
        </div>
    {% endif %}
    
    <div class="row">
    
    <div class="col-12 col-lg-6">    
    <div class="form-group">
        <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    </div>
    
    <div class="col-12 col-lg-6">
    <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="col-md-4" style="margin: auto;">
    <button class="btn clever-btn w-100" type="submit">
        Se connecter &nbsp&#8680;
    </button>
    </div>
</div>
</form>
</div>
</section>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<style>

    .form-group label{
        color:white;
    }
    #form{
        animation:side 10s ease-in-out infinite;
    }

     /*#form:hover{
        background-color: #908232b3;
    }*/
    @keyframes side{
        0%,100%{background-color:#334444b3;}
        25%{background-color: #333333b3;}
        50%{background-color: #444444b3;}
        75%{background-color: #696969b3;}
    }
</style>


{% endblock %}