{% extends 'base.html.twig' %}

{% block title %}formulaire de contact{% endblock %}


{% block body %}
<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <!-- ##### Catagory Area End ##### -->

    <!-- ##### Blog Details Content ##### -->
   
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Blog Details Text -->
                    <center>
                        <div class="pdp">

                            <img src="{{asset('img/fancybox_loading.Gif')}}" />
                        </div>
                    </center>
                    <div class="blog-details-text">
                      <h4>Laissez nous votre contact pour votre formation en {{cours}} <span class="fa fa-vcard"></span> </h4>
                      <p>
                          Il est conseillé d'avoir un compte étudiant. De cette manière,nous pourons mieux vous suivre. En attendant, vous devez compléter ce formulaire pour nous envoyer votre contact et nous vous appellerons le plus tôt possible !
                        <br>
                          <form action="{{ path('commande',{'annonce_id':annonce_id}) }}">
                              <input type="text" required name="nom" id="nom" class="form-control" placeholder="Nom" />
                              <br>
                              <input type="prenom" required name="prenom" id="prenom" class="form-control" placeholder="Prenom" />
                              <br>
                              <input type="number" required name="phone" id="phone" class="form-control" placeholder="Phone number" />
                              <br>
                              <input type="email" required name="email" id="email" class="form-control" placeholder="Email" />
                              <br>
                              <i id="notif"></i>
                              <textarea name="message" id="message" required id="message" cols="30" rows="7" class="form-control" placeholder="Ecrivez un petit message pour accompagner votre contact" ></textarea>
                              <br>
                              <span id="ex">Vous ne devez pas saisir plus de 150 caracteres</span>
                              <br>
                              <br>
                              <button type="submit" id="but" class="btn btn-primary btn-sm">Envoyer <span class="fa fa-send"></span></button>
                              &nbsp; &nbsp; &nbsp;&nbsp;

                              <a href="{{path('etudiants')}}" class="btn btn-success btn-sm">Espace Etudiants <span class="fa fa-users"></span></a>

                            </form>
                            <script>
                               $(function(){
                                
                                   var msg = document.getElementById('message');
                                   var but = document.getElementById('but');
                                   var ex = document.getElementById('ex');
                                   var notif = document.getElementById('notif');
                                   var caractere_max = 150;
                                   var caractere_en_cours = 0

                                
                                   msg.onkeypress = function(){
                                       caractere_en_cours++;
                                       ex.innerHTML=caractere_en_cours+'/150';
                                        if(caractere_en_cours >= caractere_max){
                                           but.style.display = 'none';
                                           caractere_en_cours = caractere_en_cours;
                                           
                                           ex.innerHTML='<span style="color:red;">Vous avez entre plus de caractere que prevu</span>';
                                        }
                                    
                                            var compteur = setInterval(function(){
                                              if(msg.value.length < caractere_max){
                                                but.style.display='inline'; 
                                              }      
                                            },100);
                                           
                                        
                                       
                                   }

                               });
                            </script>
                      </p>
                    </div>
                    <br />
                    <br />
                    <script>
                        $(function(){
                        
                            $.ajax({
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                url: '/data_prof?id={{id_a}}',
                                timeout: 30000,
                             success: function(data) {
                                for(i=0; i<=data.length; i++){
                                    user = data[i];
                                    let lien = "{{asset('img/pdp/')}}";
                                    $('.nom').html(user['nom']);
                                    $('#prenom').html(user['prenom']);
                                    $('.pdp').html('<img src="' + lien + user['pdp'] + '"  style="border-radius:100%; height:80px; width:80px;" />')
                                   
                                }
 
                             },
                             error: function() {
                      
                                $('#zone').html('<center> <p style="color:red;"> La requette n\'a pas aboutir <span class="fa fa-book"></span></p> </center>');
                              }
                           }); 
                        });
                    </script>
                </div>
            </div>
        </div>
        
       
    
    </div>
    
    <!-- ##### Blog Details Content ##### -->
    
{% endblock %}
