{% extends 'base.html.twig' %}

{% block title %} search !{% endblock %}

{% block body %}
<script src="js/jquery/jquery-2.2.4.min.js"></script>


<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Les annonces pour '{{cours}}' ({{nombre_resultat}}) </h3>
                    Ici sont lister tout les {{nombre_resultat}} annonces en {{cours}} vous devez bien choisir votre formateur avant de commander ses services <br>
                    Par contre, nous pouvons vous montrer les annonces fiables. <a href="#" class="btn btn-primary btn-sm">Cliquez ici</a> 
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Popular Course -->
            
            {% for anonce in anonces %}
            <a href="{{path('choix',{'id':anonce.id})}}">
            <div class="col-12 col-md-6 col-lg-4" style="display: inline;">
            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                <img src="img/pdp_annonce/{{anonce.photoProfil}}" alt="" style="height: 200px;">
                <!-- Course Content -->
                <div class="course-content">
                    <h4><div id="titre{{anonce.id}}"></div></h4>
                    <div class="meta d-flex align-items-center">
                        
                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        <div id="op{{anonce.id}}" style="color: tomato;"></div>
                    </div>
                    <p>{{anonce.titre}}</p>
                </div>
                </a>
                <!-- Seat Rating Fee -->
                <div class="seat-rating-fee d-flex justify-content-between">
                    <div class="seat-rating h-100 d-flex align-items-center">
                        <div class="seat">
                            <i class="fa fa-users" aria-hidden="true"></i> 10
                        </div>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i> 4.5
                        </div>
                    </div>
  
                    <div class="course-fee h-100">
                      <a href="{{path('view_anonce',{'id':anonce.id})}}" title="voir l'annonce" class="free"> <span class="fa fa-eye"></span> </a>
                  </div>
  
                    <div class="course-fee h-100">
                        <a href="#" title="Par Mois" class="free">{{anonce.tarifHeure}}F/Mois</a>
                    </div>
                </div>
            </div>
            </div>

            <script>
              //{{anonce.matiere}}
              $(function(){
                var option = '{{anonce.matiere}}'.split('-'); //recuperons le titre brut donner par le serveur
                var titre = option[0]; //on prend le titre seul
                var branche = option[1]; //on prend les options de ce titre(tout en sachant sa sera aussi un tableau)
                $('#titre{{anonce.id}}').html(option[0]);
                $('#op{{anonce.id}}').text(option[1]);
                
          
              });
            </script>
           {% endfor %}
</section>



  
{% endblock %}
