{% extends 'baseAdmin.html.twig' %}

{% block title %} Les contacts en attentes !{% endblock %}

{% block body %}
<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>

<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
    <div class="container">

        <div class="row">
            <center>
                
                <h3>Liste des contacts en attente de liaison  <span class="fa fa-phone"></span></h3>
            </center>

<table style="background-color: white;" class="table table-bordered table-striped table-condensed">
    <caption>
     
    </caption>
        <thead>
          <tr>
            <th>Phone Etud</th>
            <th>Nom </th>
            <th> Prenom </th>
            <th>Email</th>
            <th>&lt;===&gt;</th>
            <th>Phone Prof</th>
            <th>Nom prof</th>
            <th>Annonce</th>
            <th>Date</th>
            <th>Rapport</th>
            
          </tr>
        </thead>

        <tbody>
            {% for anonce in contacts %}
                
             <tr>
               
               <td>{{anonce.phone}}</td>
               <td>{{anonce.nom}}</a></td>
               <td>{{anonce.prenom}}</td>
               <td>{{anonce.email}}</td>
               <td>=====&gt;</td>
               <td><p id="num{{anonce.id}}"><img src="{{asset('img/fancybox_loading.Gif')}}"></p>
               </td>
              
               <td><p id="nom{{anonce.id}}"><img src="{{asset('img/fancybox_loading.Gif')}}"></p>
               </td>
               
               <td> <a href="{{path('a_commande_view',{'id':anonce.annonceId})}}" id="declancheur2{{anonce.id}}"  data-toggle="modal" data-target="#oMessagerie2{{anonce.id}}">voir l'annonce <span class="fa fa-eye"></span> </a> </td>
               <td>{{anonce.dateCommande| date("d/m/Y H:i:s")}}</td>
               {#
                 je tiens a commenter la ligne qui suit. vu que lors du coda il y a forcement eu des imprevus
                 en faite le nom des variables 'id' et 'annonce id' sont inveser
               #}
               <td>
                  <a href="#" id="declancheur{{anonce.id}}" data-toggle="modal" data-target="#oMessagerie{{anonce.id}}" class="btn btn-primary btn-sm">Modalité  <span class="fa fa-money"></span></a>
                <br><br>
                  <a href="{{path('liaison_fait',{'id':anonce.annonceId,'id_annonceur':anonce.id})}}" class="btn btn-success btn-sm">liaison fait <span class="fa fa-check"></span></a>
               </td>
               
             </tr>
             <script>
              $(function(){
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    url: '/data_prof?id={{anonce.annonceurId}}',
                    timeout: 30000,
                 success: function(data) {
                    for(i=0; i<=data.length; i++){
                        user = data[i];
                        
                        $('#nom{{anonce.id}}').html(user['nom']);
                        $('#num{{anonce.id}}').html(user['phone_portable']);
                       
                    }

                 },
                 error: function() {
          
                    $('#nom{{anonce.id}} #num{{anonce.id}}').html('<center> <p style="color:red;"> La requette n\'a pas aboutir <span class="fa fa-book"></span></p> </center>');
                  }
               }); 
            });
             </script>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
  </section>

  <!-- Debut premier modal -->
  {% for anonce in contacts %}
                <div class="modal fade" id="oMessagerie{{anonce.id}}" tabindex="-1" role="dialog" aria-labelledby="oMessagerieLabel" aria-hidden="true">
                  <div class="modal-dialog   modal-lg" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h3 class="modal-title" id="oMessagerieLabel"> Modalités <span class="fa fa-star"></span> </h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span class="fa fa-times"></span></button>
                             
                          </div>
                          <div class="modal-body">
                           
                              <div id="zone{{anonce.id}}">
                                <br><br><br>
                                <center>
                                  <img src="{{asset('img/fancybox_loading.Gif')}}">
                                  <br> 
                                  <code>Chargement...</code>
                                </center>
                                <br><br><br>
                              </div>
                           
                          </div>
                          <div class="">
                            <br>
                            <hr>
                            <br>
                            <center>  <a href="#"> signaler un probleme <span class="fa fa-warning"></span></a> </center>
                          </div>
                        <br>
                      </div>
           <!-- livre nation negre et culture -->
                  </div>
           
              </div>
              <script>
                $(function(){
                  $('#declancheur{{anonce.id}}').click(function(){

                  $.ajax({
                      type: 'POST',
                      dataType: 'json',
                      async: true,
                      url: '/admin/data_commande/{{anonce.annonceId}}',
                      timeout: 30000,
                   success: function(data) {
                      for(i=0; i<=data.length; i++){
                          user = data[i];
                          
                          $('#zone{{anonce.id}}').html(
                          '<br /><br /><br />'+
                          '<center>'+

                             '<code style="font-size:4em">'+
                              '<sub style="font-size:0.5em;">PF</sub>'+
                               user['prix_prof']+
                             '<sup style="font-size:0.5em;">Fcfa</sup>'+
                             '</code>'+
                             '<br /><br />'+
                             '<code style="font-size:4em;">'+
                             '<sub style="font-size:0.5em;">CP</sub>'+
                               user['pourcentage']+
                             '<sup style="font-size:0.5em;">Fcfa</sup>'+
                             '</code>'+

                          '</center>'
                          );
                      
                  }
  
                   },
                   error: function() {
            
                      $('#zone{{anonce.id}}').html('<center> <p style="color:red;"> La requette n\'a pas aboutir <span class="fa fa-book"></span></p> </center>');
                    }
                 }); 
                 
                });
              });
              </script>
                
              {% endfor %}
    <!-- Fin premier modal -->

    <!-- Debut deuxieme modal -->
        
      

    {% for anonce in contacts %}
    <div class="modal fade" id="oMessagerie2{{anonce.id}}" tabindex="-1" role="dialog" aria-labelledby="oMessagerieLabel" aria-hidden="true">
      <div class="modal-dialog   modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="oMessagerieLabel"> annonce visualisation </h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span class="fa fa-times"></span></button>
                 
              </div>
              <div class="modal-body">
               
                  <div id="zone2{{anonce.id}}">
                    <br><br><br>
                    <center>
                      <img src="{{asset('img/fancybox_loading.Gif')}}">
                      <br> 
                      <code>Chargement...</code>
                    </center>
                    <br><br><br>
                  </div>
               
              </div>
              <div class="">
                <br>
                <hr>
                <br>
                <center>  <a href="#"> signaler un probleme <span class="fa fa-warning"></span></a> </center>
              </div>
            <br>
          </div>
<!-- livre nation negre et culture -->
      </div>

  </div>
  <script>
    $(function(){
      $('#declancheur2{{anonce.id}}').click(function(){

      $.ajax({
          type: 'POST',
          dataType: 'json',
          async: true,
          url: '/admin/data_annonce/{{anonce.annonceId}}',
          timeout: 30000,
       success: function(data) {
          for(i=0; i<=data.length; i++){
              user = data[i];
              let link = "{{asset('img/pdp_annonce/')}}";
              $('#zone2{{anonce.id}}').html(
              
              '<center style="text-align:left; border-radius:20px; border:15px solid rgb(55,155,255); padding:2%; margin-left:2%;">'+
                '<h4> Cours </h4>'+
                 '<span> '+ user['cours'] +' </span>'+
                '<h4> Titre </h4>'+
                '<span> '+ user['titre'] +' </span>'+
                '<h4> Parcours </h4>'+
                '<span> '+ user['parcours'] +' </span>'+
                '<h4> Methodologie </h4>'+
                '<span> '+ user['methodologie'] +' </span>'+
                '<h4> Lieux de cours </h4>'+
                '<span> '+ user['lieux_cours'] +' </span>'+
                '<h4> Type de cours </h4>'+
                '<span> '+ user['type_cours'] +' </span>'+
                '<h4> Photo de couverture </h4>'+
                '<img src="'+link+user['pdp']+'" />'+
                
                
              '</center>'
              );
          
      }

       },
       error: function() {

          $('#zone2{{anonce.id}}').html('<center> <p style="color:red;"> La requette n\'a pas aboutir <span class="fa fa-book"></span></p> </center>');
        }
     }); 
     
    });
  });
  </script>
    
  {% endfor %}
    <!-- Fin deuxieme modal -->

  
{% endblock %}
