{% extends 'baseAdmin.html.twig' %}

{% block title %}Bienvenue en administration !{% endblock %}


{% block body %}


<section class="hero-area bg-img bg-overlay-2by5" >
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12" style="margin:auto;">
                <!-- Hero Content -->
                <div class="hero-content text-center">
                    

                    <section class="col-sm-12 table-responsive">
                        <table style="background-color: white;" class="table table-bordered table-striped table-condensed">
                            <caption>
                             
                            </caption>
                                <thead>
                                  <tr>
                                    <th>Les fonctionnalites</th>
                                    <th>Les annonces </th>
                                    <th>Les étudiants <span class="fa fa-group"></span> </th>
                                    <th>Les Professeurs</th>
                                    <th>Discipline</th>
                                    <th>Suivie des cours <span class="fa fa-book"></span> </th>
                                    <th>Légal</th>
    
                                  </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                       <td> <a href="{{ path('ajout_matiere') }}">Ajoute les matieres <span class="fa fa-book"></span></a></td>
                                       <td> <a href="{{path('tout_annonce')}}"> Tous les annonces <span class="fa fa-badge badge-pill badge-primary">{{nombreAnnonce}}</span>  </a> </td>
                                       <td> <a href="{{path('tou_etudiants')}}"> Tous les etudiants <span class="fa fa-badge badge-pill badge-primary">{{etud}}</span>  </a> </td>
                                       <td> <a href="{{path('tou_professeurs')}}"> Tous les professeurs <span class="fa fa-badge badge-pill badge-primary">{{prof}}</span>  </a> </td>
                                       <td> <a href=""> Reglements pour prof </a> </td>
                                       <td> <a href="#"> Evolution des cours  </a> </td>
                                       <td> <a href="#"> Les demande de certification <span class="fa fa-badge badge-pill badge-warning">0</span> </a> </td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ path('modifier_matiere') }}">Modifer les matieres</a></td>
                                        <td> <a href="{{path('annonce_validation')}}"> nouvelles annonces <span class="fa fa-badge badge-pill badge-primary">{{nombre}}</span> </a> </td>
                                        <td></td>
                                        <td></td>
                                        <td> <a href="#">Reglements pour etudiants</a> </td>
                                        <td> <a href="#">  </a> </td>
                                        <td> <a href="#"> Prof signaler <span class="fa fa-badge badge-pill badge-warning">0</span> </a> </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="{{path('demande_contacts')}}">Les demandes de contact <span class="fa fa-badge badge-pill badge-danger">{{coms}}</span> </a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> <a href="#"> Etudiants signaler <span class="fa fa-badge badge-pill badge-primary">0</span> </a> </td>
                                    </tr>
                                </tbody>
                        </table>


                  </div>
                
            </div>
        </div>
    </div>
</section>
 
 

 <div class="container">
    
    
     
 </div>
 <br><br>
 
{% endblock %}
